
    <ion-content color="none">
        <div class="bg-register" >
          <div class="owerlay">
            <div class="logo">
    
            </div>
            <!-- LOGO -->
    
            <!-- TEXTOS -->
            <div class="txt">
              <!-- TÍTULO -->
              <h5>
                Vamos começar !
              </h5>
              <!-- SUBTÍTULO -->
              <p class="txtSub">
                Entre com seus dados para criar a conta
              </p>
            </div>
    
            <!-- FORMS E CTA -->
            <div class="formLogin">
              <form >
              <ion-item class="bg-transparent">
                <ion-label stacked></ion-label>
                <ion-input type="text"  placeholder="Nome Completo" name="nome"></ion-input>
              </ion-item>
    
              <ion-item class="bg-transparent">
                <ion-label stacked></ion-label>
                <ion-input type="email" placeholder="Email" name="email" ></ion-input>
              </ion-item>
    
              <ion-item class="bg-transparent">
    
                <ion-label stacked></ion-label>
                <ion-input type="password"  placeholder="Senha" name="senha"></ion-input>
              </ion-item>
              <a href="login">
                <div  >
                  <ion-button class="ctaLogin" >Cadastrar</ion-button>
                </div>
              </a>
              <!-- NOVA CONTA -->
              <a href="login">
                <div class="txtRegistrar" >
                  Ja tem uma conta ?
                </div>
              </a>
              </form>
            </div>
          </div>
        </div>
      </ion-content>
